
h3{
	margin: 40px 0;
}
/*.sec2{
	min-height: 150px;
	background: #f2f2f2;
}*/


#text1
{
    margin:           3.0em 0.0em;
    overflow:         hidden;
    font:             normal normal normal 2.0em/1.5 'Open Sans Light', sans-serif;
    color:            #ffffff;
    background-color: #3fafee;
}
/**
 * Text 3
 */
#text3
{
    margin:           3.0em auto;
    overflow:         hidden;
    font:             normal normal normal 2.0em/1.5 'Open Sans Light', sans-serif;
    color:            #ffffff;
    background-color: #d81c82;
}

/*Circle Progress*/
.percent{
    width:160px;
    height:160px;
}
.percent p{
    display:none;
   
}

/*countdown timer*/

  .countdown.show .running {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.countdown.show .running timer {
  font-size: 55px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1;
  color: #8c0734;
}

.countdown.show .running timer .days,
.countdown.show .running timer .hours,
.countdown.show .running timer .minutes,
.countdown.show .running timer .seconds{
  width: 70px;
  text-align: left;
  margin: 0 7px;
}

@media (max-width: 480px) {
  .countdown.show .running timer  {
    font-size: 40px;
  }
  .countdown.show .running timer .days,
  .countdown.show .running timer .hours,
  .countdown.show .running timer .minutes,
  .countdown.show .running timer .seconds {
    width: 49px;
  }
}

.countdown.show .running .labels{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
}

.countdown.show .running .labels span{
  width: 97px;
  text-align: center;
  margin: 0px 2px;
}

@media (max-width: 480px) {
  .countdown.show .running .labels span{
    width: 69px;
  }
}

.countdown.show .running .text{
  font-size: 20px;
  margin-top: 12px;
  font-weight: 600;
}

.countdown.show .running button{
  border: none;
  background-color: black;
  color: white;
  border-radius: 25px;
  padding: 10px 20px;
  margin: 10px;
}

.countdown.show .running .break{
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 0;
}

.countdown.show .ended{
  display: none;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.countdown.show .ended .text{
  font-size: 20px;
}

.countdown.show .ended button {
  border: none;
  background-color: #5a0000;
  color: white;
  border-radius: 25px;
  padding: 10px 20px;
  margin: 10px;
}

.countdown.show .ended .break{
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 0;
}